body {
    background-color:rgb(204, 235, 255);
}

.title {
    position: fixed;
    display: flex;
    top: 0;
    margin-top: 1rem;
    text-align: center;
    margin-right: 5rem;
    color: black;
    z-index: 998;
    margin-left: 1rem;
    border: solid 1px black;
    padding: 7px;
}

.responsive-iframe-container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1.5;
  width: 100%;
  max-width: 400px;       /* Controls actual width */
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
}



.responsive-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.page-content {
  display: inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .title {
    justify-content: left;
    left: 0;
    margin-left: 1rem;
    font-size: 4vw;
  }
}

