.title {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    text-decoration: underline;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.responsive-iframe-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 370%;
    padding-bottom: 450%; /* adjust this for aspect ratio */
    height: 0;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.page-content ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  justify-content: right;
  align-items: right;
}

