body {
    background-color: rgb(24, 23, 23);
}

.page-content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontally center children */
    margin-bottom: 4rem;
}


.title {
  margin: 0;
  padding-top: 88px;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;

  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;

  white-space: nowrap;
  background: rgba(255, 255, 255, 0.04);
}

.title:hover {
  cursor: default;
}

.responsive-iframe-container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1.5;
  width: 100%;
  max-width: 400px;       /* Controls actual width */
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
}



.responsive-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 900px) {
  .title {
    justify-content: left;
    left: 0;
    margin-left: 1rem;
    font-size: 3vw;
  }
}

