body {
    background-color: rgb(24, 23, 23);
}

.page-content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontally center children */
    margin-bottom: 4rem;
}


.title {
    position: fixed;
    display: flex;
    top: 0;
    margin-top: 1rem;
    text-align: center;
    margin-right: 5rem;
    color: white;
    z-index: 998;
    margin-left: 1rem;
    border: solid 1px rgb(110, 110, 110);
    padding: 7px;
}

.title:hover {
  cursor: default;
}

.responsive-iframe-container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1.5;
  width: 100%;
  max-width: 400px;       /* Controls actual width */
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
}



.responsive-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 900px) {
  .title {
    justify-content: left;
    left: 0;
    margin-left: 1rem;
    font-size: 3vw;
  }
}

