.intro {
    color: white;
    font-size: 40px;
    font-display: block;
    text-align: center;
}

.intro2 {
    color: white;
    font-size: 30px;
    font-display: block;
    text-align: center;
}

.intro3 {
    color: white;
    font-size: 20px;
    font-display: block;
    text-align: center;
}

.aboutme1 {
    color: white;
    font-size: 15px;
    font-display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cv-viewer {
  width: 100%;
  height: 100vh;
  border: none;
}

.introHead {
    color: aliceblue;
    font-size: 70px;
    font-display: block;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.head2 {
    color: aliceblue;
    font-size: 60px;
    font-display: block;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.head-fixing {
    color: crimson;
    font-size: 60px;
    font-display: block;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.home-contacts {
  text-align: center;
}

.homeLinks {
    color: aquamarine;
    font-style: italic;
}
.contactLinks {
    color: coral;
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.headshot {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid black;
    object-fit: cover;
}

@media(max-width: 1250px) {

    .headshot {
        top: 10vw;
        right: 20px;
        width: 15vw;
        height: 15vw;
        border-width: 0.5vw;
    }
}


@media(max-width: 650px) {

    .title {
        display: flex;
        top: -2.3vw;
    }

    .intro {
        font-size: 7vw;
    }

    .intro2 {
        font-size: 4vw;
    }

    .intro3 {
        font-size: 2vw;
    }

    .aboutme1 {
        font-size: 2.5vw;
    }

    .introHead {
        font-size: 12vw;
    }

    .head2 {
        font-size: 10.5vw;
    }

    .head-fixing {
        font-size: 10.5vw;
    }

    .contact-icon {
        width: 4vw;
        height: 4vw;
        margin-right: 8px;
    }

}

@media(max-width: 450px) {

    .title {
        display: flex;
        top: -3.5vw;
    }


}