.intro {
    color: white;
    font-size: 40px;
    font-display: block;
    text-align: center;
}

.intro2 {
    color: white;
    font-size: 30px;
    font-display: block;
    text-align: center;
}

.intro3 {
    color: white;
    font-size: 20px;
    font-display: block;
    text-align: center;
}

.aboutme1 {
    color: white;
    font-size: 15px;
    font-display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cv-viewer {
  width: 100%;
  height: 100vh;
  border: none;
}

.introHead {
    color: aliceblue;
    font-size: 70px;
    font-display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.head2 {
    color: aliceblue;
    font-size: 60px;
    font-display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.homeLinks {
    color: aquamarine;
}
.contactLinks {
    color: coral;
}

.contact-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}


@media(max-width: 900px) {

}