.intro {
    color: white;
    font-size: 40px;
    font-display: block;
    text-align: center;
}

.intro2 {
    color: white;
    font-size: 30px;
    font-display: block;
    text-align: center;
}

.intro3 {
    color: white;
    font-size: 20px;
    font-display: block;
    text-align: center;
}

.introHead {
    color: aliceblue;
    font-size: 70px;
    font-display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.head2 {
    color: aliceblue;
    font-size: 60px;
    font-display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.homeLinks {
    color: aquamarine;
}

@media(max-width: 900px) {

}