.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  text-decoration: none;
  border-style: solid;
  border-top: #102c4d;

}

.nav-links a {
  margin-left: 1.5rem;
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #102c4d;
}
