.project-grid li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr; /* stack on smaller viewports */
  }
}

