.project-grid li {
  display: inline-block;
  list-style: none;
  margin-right: 10vw;
  margin-bottom: 10vh;
  margin-top: 120px; /* Make responsive */
}

.proj-timeline-title {
    color: aliceblue;
    font-size: 60px;
    font-display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    font-family:'Courier New', Courier, monospace;
}

.proj-img {
  max-width: 700px;
  border-style: solid;
  border-width: 2px;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr; /* stack on smaller viewports */
  }
}

@media (max-height: 600px) {
  .responsive-iframe-container {
    height: 60vh;
    width: 30vw;
  }  
}

.projectButton {
  background-color:rgb(112, 185, 124);
  border: solid 2px black;
  font-style: oblique;
  font-weight: bold;
  color:black;
  align-items: center;
  align-content: center;
  text-align: center;
}

.projectButton:hover {
  cursor:pointer;
  background-color: rgb(61, 99, 67);
}