.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 40px auto;
    padding: 40px 0;
    max-width: 900px;
}

.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
}

.timeline-item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: 50%;
}
