.timeline-container {
    position: relative;
    margin: 40px auto;
    padding: 40px 0;
    width: 100%;
    max-width: 700px;
}


.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: #e17b77;
}

.timeline-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  justify-content: flex-start;
  margin-left: auto;
}

.timeline-item-content {
  position: relative;
  background: #333;
  padding: 20px;
  border-radius: 6px;
  color: #fff;
  max-width: 260px;
}

.source-link {
    color: aquamarine;
}
.access-link {
    color: rgb(255, 232, 127);
}
